{% extends "mainBundle::Template.html.twig" %}

 {% block content %}

     <div id="content" class="site-content hfeed site"><div id="primary" class="container-fluid">
             <div class="row primary-content-wrapper"><main id="main" class="col-md-12 col-sm-12 col-lg-12">
                     <article id="post-299" class="post-299 page type-page status-publish hentry"><div class="page-content">
                             <div class="row section-theme-padding vc_custom_1540991787497 vc_column-gap-10 inner-relative-wrapper"><div class="container">
                                     <div class="row-cols-wrap vc_row wpb_row vc_row-fluid vc_row-o-full-height vc_row-o-columns-stretch vc_row-o-equal-height vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                                         <div class="content-bg-wrap content-bg-wrap-row animate-left-to-right" style="background-image: url({{asset('assets/wp-content/uploads/2018/09/landing-bg.jpg') }});" ></div>
                                         <div class="wpb_column vc_column_container vc_col-sm-5">
                                             <div class="vc_column-inner"><div class="wpb_wrapper">
                                                     <div class="wpb_text_column wpb_content_element  text-white" ><div class="wpb_wrapper">
                                                             <h1 class="text-white">Un vrai site de rencontres gratuit et sécurisé</h1></div></div>
                                                     <div class="wpb_text_column wpb_content_element  text-white" >
                                                         <div class="wpb_wrapper">
                                                             <p>C’est un site généraliste qui permet à tous les types d’utilisateurs de faire des rencontres, en toute simplicité. Il dispose d’une communauté très active, des diverses fonctionnalités intéressantes qui facilitent la rencontre, le site organise notamment des événements réels (soirée, animations, vacances…) pour faire se rencontrer les membres à travers le monde.</p></div></div></div></div></div>
                                         <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-offset-1">
                                             <div class="vc_column-inner">
                                                 <div class="wpb_wrapper">
                                                     <div class="  wpb_content_element" id="registr">
                                                         <div class="registration-login-form mb-0 can-not-register">
                                                             <ul class="nav nav-tabs" role="tablist">
                                                                 <li class="nav-item">
                                                                     <a class="nav-link active" data-toggle="tab" href="#login-panel-2587" role="tab"> <svg class="olymp-login-icon"> <use xlink:href="{{ asset('assets/wp-content/themes/olympus/images/icons.svg#olymp-login-icon') }}"></use> </svg> </a></li></ul>
                                                             <div class="tab-content">
                                                                 <div class="tab-pane active" id="login-panel-2587" role="tabpanel"data-mh="log-tab">

                                                                     <div class="title h6">Authentification</div>

                                                                     <form class="content" method="POST"action="https://olympus.crumina.net/wp-login.php">
                                                                         <input type="hidden" name="redirect_to"value="https://olympus.crumina.net"/>
                                                                         <div class="row">
                                                                             <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                                                 <div class="form-group label-floating">
                                                                                     <label class="control-label">Nom d'utilisateur</label>
                                                                                     <input class="form-control" name="log" ></div>
                                                                                 <div class="form-group label-floating">
                                                                                     <label class="control-label">Mot de passe</label>
                                                                                     <input class="form-control" name="pwd"  type="password"></div><div class="remember"><div class="checkbox"> <label> <input name="rememberme" value="forever" type="checkbox"> Se rappeler de moi </label></div> <a href="my-account/lost-password/index.html" class="forgot">J'ai oublié mon mot de passe</a></div>
                                                                                 <button type="submit" class="btn btn-lg btn-primary full-width">Se connecter</button></div></div></form>

                                                                 </div></div></div></div></div></div></div></div></div></div>




                             <div class="container inner-relative-wrapper"><div class="row section-theme-padding"><div class="row-cols-wrap vc_row wpb_row vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div  class="wpb_single_image wpb_content_element vc_align_center"><figure class="wpb_wrapper vc_figure"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="570" height="300" src="{{ asset('assets/wp-content/uploads/2018/10/icon-fly-1-1.png') }}" class="vc_single_image-img attachment-full" alt="" srcset="https://olympus.crumina.net/wp-content/uploads/2018/10/icon-fly-1-1.png 570w, https://olympus.crumina.net/wp-content/uploads/2018/10/icon-fly-1-1-300x158.png 300w" sizes="(max-width: 570px) 100vw, 570px" /></div></figure></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6">
                                             <div class="vc_column-inner">
                                                 <div class="wpb_wrapper">
                                                     <div class="wpb_text_column wpb_content_element " >
                                                         <div class="wpb_wrapper">
                                                             <h2 class="heading-title">Un site de rencontre 
                                                                 <span class="c-primary" style="color: #ff5e3a;">Gratuit</span></h2>
                                                             <p class="heading-text">L'inscription sur World Friendship est gratuite; celle-ci permet à tous les membres de créer et de personnaliser leur profil, d'avoir accès aux actualités, aux articles, etc.</p></div></div></div></div></div></div></div></div>





                             <div class="container inner-relative-wrapper">
                                 <div class="row section-theme-padding">
                                     <div class="row-cols-wrap vc_row wpb_row vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                                         <div class="wpb_column vc_column_container vc_col-sm-6">
                                             <div class="vc_column-inner">
                                                 <div class="wpb_wrapper">
                                                     <div class="wpb_text_column wpb_content_element " >
                                                         <div class="wpb_wrapper"><h2 class="heading-title">Pour trouver <span class="c-primary" style="color: #ff5e3a;">des milliers à travers le monde</span></h2><p class="heading-text">Le site de rencontre world friendship vous permet de faire des rencontres gratuitement, facile et respecte de votre vie privée, le site s'est fait un nom dans le milieu de la rencontres en ligne.
                                                             </p></div></div></div></div></div>
                                         <div class="wpb_column vc_column_container vc_col-sm-6">
                                             <div class="vc_column-inner">
                                                 <div class="wpb_wrapper">
                                                     <div  class="wpb_single_image wpb_content_element vc_align_center">
                                                         <figure class="wpb_wrapper vc_figure">
                                                             <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                 <img width="601" height="340" src="{{ asset('assets/wp-content/uploads/2018/10/image1.png') }}"  class="vc_single_image-img attachment-full" alt="" srcset="https://olympus.crumina.net/wp-content/uploads/2018/10/image1.png 601w, https://olympus.crumina.net/wp-content/uploads/2018/10/image1-300x170.png 300w, https://olympus.crumina.net/wp-content/uploads/2018/10/image1-600x339.png 600w" sizes="(max-width: 601px) 100vw, 601px" /></div></figure></div></div></div></div></div></div></div>











                             <div class="container inner-relative-wrapper">
                                 <div class="row section-theme-padding">
                                     <div class="row-cols-wrap vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
                                         <div class="wpb_column vc_column_container vc_col-sm-6">
                                             <div class="vc_column-inner">
                                                 <div class="wpb_wrapper">
                                                     <div class="wpb_text_column wpb_content_element " >
                                                         <div class="wpb_wrapper">
                                                             <h2 class="heading-title">Trouvez des personnes
                                                                 <span class="c-primary" style="color: #ff5e3a;"> ayant vos mêmes intérêts</span></h2>
                                                             <p class="heading-text" style="text-align: left;">Vivez une histoire à la mesure de vos passions. Naviguez parmi des milliers de profils les uns que les autres. Que vous soyez fan de Star Wars ou bien de cosplay, vous trouverez à coup sûr des personnes partageant vos centres d'intérêt.</p></div></div></div></div></div>
                                         <div class="wpb_column vc_column_container vc_col-sm-6">
                                             <div class="vc_column-inner">
                                                 <div class="wpb_wrapper">
                                                     <div  class="wpb_single_image wpb_content_element vc_align_center">
                                                         <figure class="wpb_wrapper vc_figure">
                                                             <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                 <img width="548" height="351" src="{{ asset('assets/wp-content/uploads/2018/09/image3.png') }}"  class="vc_single_image-img attachment-full" alt="" srcset="https://olympus.crumina.net/wp-content/uploads/2018/09/image3.png 548w, https://olympus.crumina.net/wp-content/uploads/2018/09/image3-300x192.png 300w" sizes="(max-width: 548px) 100vw, 548px" /></div></figure></div></div></div></div></div></div></div>




                             <div class="row section-theme-padding vc_custom_1536156807548 inner-relative-wrapper">
                                 <div class="container"><div class="row-cols-wrap vc_row wpb_row vc_row-fluid vc_row-has-fill">
                                         <div class="wpb_column vc_column_container vc_col-sm-12">
                                             <div class="vc_column-inner">
                                                 <div class="wpb_wrapper">
                                                     <div class="wpb_text_column wpb_content_element " >
                                                         <div class="wpb_wrapper">
                                                             <div class="heading-sup-title" style="text-align: center;">Des membres en tandences</div><h2 class="h1 heading-title" style="text-align: center;">Rejoignez la communauté World friendship !</h2><p class="heading-text" style="text-align: center;">Créez votre profil en quelques secondes et découvrez les membres du notre site près de chez vous. Rejoignez la communauté World friendship !</p></div></div>

                                                     <div class="vc_row wpb_row vc_inner vc_row-fluid js-equal-child">
                                                         <div class="wpb_column vc_column_container vc_col-sm-4">
                                                             <div class="vc_column-inner">
                                                                 <div class="wpb_wrapper">
                                                                     <div class="  ui-block crumina-module crumina-testimonial-item wpb_content_element">
                                                                         <div class="testimonial-header-thumb">
                                                                             <div class="testimonial-header-thumb-overlay" style="background-color: #ff5e3a"></div></div>


                                                                         <div class="testimonial-item-content "><div class="author-thumb"> <img src="{{ asset('assets/wp-content/uploads/2018/09/team5-100x100.jpg') }}"  width="98" height="98" class="img-responsive" alt="Mathilda Brinker" /></div><h3 class="testimonial-title">Amazing Community</h3><ul class="rait-stars"><li> <i class="fa fa-star star-icon"></i></li><li> <i class="fa fa-star star-icon"></i></li><li> <i class="fa fa-star star-icon"></i></li><li> <i class="fa fa-star star-icon"></i></li><li> <i class="fa fa-star star-icon"></i></li></ul><p class="testimonial-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ostrudexercitation ullamco.</p><div class="author-content"><div class="h6 author-name">Mathilda Brinker</div><div class="country">Los Angeles, CA</div></div></div></div></div></div></div>

                                                         <div class="wpb_column vc_column_container vc_col-sm-4">
                                                             <div class="vc_column-inner">
                                                                 <div class="wpb_wrapper">
                                                                     <div class="  ui-block crumina-module crumina-testimonial-item wpb_content_element">
                                                                         <div class="testimonial-header-thumb">
                                                                             <div class="testimonial-header-thumb-overlay" style="background-color: #ff5e3a"></div></div>
                                                                         <div class="testimonial-item-content ">
                                                                             <div class="author-thumb"> <img src="{{ asset('assets/wp-content/uploads/2018/09/team1-100x100.jpg') }}"  width="98" height="98" class="img-responsive" alt="Mark Valentine" /></div><h3 class="testimonial-title">This is the Best Social Network ever!</h3><ul class="rait-stars"><li> <i class="fa fa-star star-icon"></i></li><li> <i class="fa fa-star star-icon"></i></li><li> <i class="fa fa-star star-icon"></i></li><li> <i class="fa fa-star star-icon"></i></li><li> <i class="fa  fa-star-o star-icon"></i></li></ul><p class="testimonial-message">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu nulla pariatur laborum. totam rem aperiam</p><div class="author-content"><div class="h6 author-name">Mark Valentine</div><div class="country">Long Island, NY</div></div></div></div></div></div></div>


                                                         <div class="wpb_column vc_column_container vc_col-sm-4">
                                                             <div class="vc_column-inner">
                                                                 <div class="wpb_wrapper">
                                                                     <div class="  ui-block crumina-module crumina-testimonial-item wpb_content_element">
                                                                         <div class="testimonial-header-thumb">
                                                                             <div class="testimonial-header-thumb-overlay" style="background-color: #ff5e3a"></div></div>
                                                                         <div class="testimonial-item-content ">
                                                                             <div class="author-thumb"> <img src="{{ asset('assets/wp-content/uploads/2018/09/team3-100x100.jpg') }}"  width="98" height="98" class="img-responsive" alt="Nicholas Grissom" /></div><h3 class="testimonial-title">Incredible Design!</h3><ul class="rait-stars"><li> <i class="fa fa-star star-icon"></i></li><li> <i class="fa fa-star star-icon"></i></li><li> <i class="fa fa-star star-icon"></i></li><li> <i class="fa fa-star star-icon"></i></li><li> <i class="fa fa-star star-icon"></i></li></ul><p class="testimonial-message">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p><div class="author-content"><div class="h6 author-name">Nicholas Grissom</div><div class="country">San Francisco, CA</div></div></div></div></div></div></div>



                                                     </div></div></div></div></div></div></div>

























                             <div class="container inner-relative-wrapper">



                                 <div class="row section-theme-padding">
                                     <div class="row-cols-wrap vc_row wpb_row vc_row-fluid">
                                         <div class="wpb_column vc_column_container vc_col-sm-12">
                                             <div class="vc_column-inner">
                                                 <div class="wpb_wrapper">
                                                     <div class="wpb_text_column wpb_content_element " >
                                                         <div class="wpb_wrapper"><div class="heading-sup-title" style="text-align: center;">
                                                                 <span style="color: #ff5e3a;">DES ARTICLES EN TANDENCES</span></div>
                                                             <h2 class="h1 heading-title" style="text-align: center;">
                                                                 Découvrez les articles les plus populaires</h2>
                                                             <p class="heading-text" style="text-align: center;">
                                                                 La lecture plus qu'une passion, une drogue...</p><p>&nbsp;</p></div></div>


                                                     <div class="   crumina-latest-news wpb_content_element">
                                                         <div class="row">









                                                             <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">

                                                                 <div class="ui-block">

                                                                     <article class="hentry blog-post">

                                                                         <div class="post-thumb">

                                                                             <img src="{{ asset('assets/wp-content/uploads/2018/07/dominik-lange-86967-403x290.jpg') }}"  width="403" height="290" alt="dominik-lange-86967" /></div>

                                                                         <div class="post-content ajax-col-content-equal-height"><div class="post-category-list">

                                                                                 <a href="category/community/index.html" class=" post-category bg-primary" style="" title="All posts from Community">Community</a></div><h3 class="h4 entry-title post-title"><a href="2018/07/24/olympus-social-network-join-people/index.html" rel="bookmark">Olympus join people all over the world</a></h3><p >Praesent ut turpis turpis. Maecenas in elementum lacus. Proin malesuada nunc quam, vel malesuada turpis elementum et. In vel dui eu orci rutrum tincidunt. Sed massa neque, ultricies ac dolor quis, posuere maximus diam.</p>

                                                                             <div class="author-date"> by <a class="h6 post__author-name fn vcard font-weight-bold" href="author/crumina/index.html" >Crumina</a> - <span class="post__date" ><time class="entry-date published updated" datetime="2018-07-24T14:00:46+00:00">July 24, 2018</time></span></div>

                                                                             <div class="post-additional-info inline-items">
                                                                                 <div class="crum-reaction-list inline-items reactions-count-compact-142">

                                                                                     <ul class="crum-reaction-ext friends-harmonic reaction-toggle-parent"
                                                                                         data-post="142"
                                                                                         data-nonce="ae042d8c76">
                                                                                         <li> <a href="#" data-type="crumina-reaction-amazed" class="reaction-toggle-icon disabled">
                                                                                                 <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-amazed.png') }}"  alt="icon"> </a></li>
                                                                                         <li> <a href="#" data-type="crumina-reaction-anger" class="reaction-toggle-icon disabled">
                                                                                                 <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-anger.png') }}"  alt="icon"> </a></li>
                                                                                         <li> <a href="#" data-type="crumina-reaction-bad" class="reaction-toggle-icon disabled">
                                                                                                 <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-bad.png') }}"  alt="icon"> </a></li>
                                                                                         <li> <a href="#" data-type="crumina-reaction-cool" class="reaction-toggle-icon disabled">
                                                                                                 <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-cool.png') }}"  alt="icon"> </a></li>
                                                                                         <li> <a href="#" data-type="crumina-reaction-joy" class="reaction-toggle-icon disabled">
                                                                                                 <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-joy.png') }}"  alt="icon"> </a></li>
                                                                                         <li> <a href="#" data-type="crumina-reaction-like" class="reaction-toggle-icon disabled">
                                                                                                 <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-like.png') }}" alt="icon"> </a></li>
                                                                                         <li> <a href="#" data-type="crumina-reaction-lol" class="reaction-toggle-icon disabled">
                                                                                                 <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-lol.png') }}" alt="icon"> </a></li></ul>

                                                                                     <div class="names-people-likes"> 111</div></div>

                                                                                 <div class="comments-shared"> <a href="#comments" class="post-add-icon inline-items"> <svg class="olymp-speech-balloon-icon " ><use xlink:href="{{ asset('assets/wp-content/themes/olympus/images/icons.svg#olymp-speech-balloon-icon') }}" ></use></svg> <span>0</span> </a></div></div></div></article></div></div>









                                                             <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                                                 <div class="ui-block"><article class="hentry blog-post">
                                                                         <div class="post-thumb">
                                                                             <img src=" {{ asset('assets/wp-content/uploads/2018/07/carissa-gan-66379-403x290.jpg') }}" width="403" height="290" alt="carissa-gan-66379" /></div>
                                                                         <div class="post-content ajax-col-content-equal-height">
                                                                             <div class="post-category-list">
                                                                                 <a href="category/inspiration/index.html" class=" post-category bg-primary" style="" title="All posts from Inspiration">Inspiration</a></div><h3 class="h4 entry-title post-title">
                                                                                 <a href="2018/07/24/50-ideas-of-delicious-breakfast/index.html" rel="bookmark">50 ideas of delicious breakfast</a></h3>
                                                                             <p >Praesent non tincidunt eros. Mauris ornare tempus mauris, ac laoreet erat dictum a. Integer cursus tincidunt dolor eget feugiat. Cras iaculis gravida eros in imperdiet.</p><div class="author-date"> by <a class="h6 post__author-name fn vcard font-weight-bold" href="author/crumina/index.html" >Crumina</a> - <span class="post__date" ><time class="entry-date published updated" datetime="2018-07-24T13:38:33+00:00">July 24, 2018</time></span></div>

                                                                             <div class="post-additional-info inline-items">

                                                                                 <div class="crum-reaction-list inline-items reactions-count-compact-140">

                                                                                     <ul class="crum-reaction-ext friends-harmonic reaction-toggle-parent"data-post="140"data-nonce="ae042d8c76">

                                                                                         <li> <a href="#" data-type="crumina-reaction-amazed" class="reaction-toggle-icon disabled"> <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-amazed.png') }}"   alt="icon"> </a></li>
                                                                                         <li> <a href="#" data-type="crumina-reaction-anger" class="reaction-toggle-icon disabled"> <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-anger.png') }}"  alt="icon"> </a></li>
                                                                                         <li> <a href="#" data-type="crumina-reaction-bad" class="reaction-toggle-icon disabled"> <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-bad.png') }}"  alt="icon"> </a></li>
                                                                                         <li> <a href="#" data-type="crumina-reaction-cool" class="reaction-toggle-icon disabled"> <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-cool.png') }}"  alt="icon"> </a></li>
                                                                                         <li> <a href="#" data-type="crumina-reaction-joy" class="reaction-toggle-icon disabled"> <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-joy.png') }}"  alt="icon"> </a></li>
                                                                                         <li> <a href="#" data-type="crumina-reaction-like" class="reaction-toggle-icon disabled"> <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-like.png') }}"  alt="icon"> </a></li>
                                                                                         <li> <a href="#" data-type="crumina-reaction-lol" class="reaction-toggle-icon disabled"> <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-lol.png') }}"  alt="icon"> </a></li></ul>

                                                                                     <div class="names-people-likes"> 74</div></div>
                                                                                 <div class="comments-shared"> <a href="#comments" class="post-add-icon inline-items"> <svg class="olymp-speech-balloon-icon " ><use xlink:href="{{ asset('assets/wp-content/themes/olympus/images/icons.svg#olymp-speech-balloon-icon') }} "></use> </svg> <span>0</span> </a></div></div></div></article></div></div>


                                                             <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                                                 <div class="ui-block">
                                                                     <article class="hentry blog-post">
                                                                         <div class="post-thumb">
                                                                             <img src="{{ asset('assets/wp-content/uploads/2018/07/jaroslav-devia-715017-unsplash-403x290.jpg') }}"   width="403" height="290" alt="jaroslav-devia-715017-unsplash" /></div>
                                                                         <div class="post-content ajax-col-content-equal-height"><div class="post-category-list"><a href="category/olympus-news/index.html" class=" post-category bg-primary" style="" title="All posts from Olympus News">Olympus News</a></div><h3 class="h4 entry-title post-title"><a href="2018/07/24/things-you-didnt-know-about-us/index.html" rel="bookmark">Things You Didn&#8217;t Know About Us</a></h3><p >Donec vestibulum congue neque eget congue. Praesent non tincidunt eros. Mauris ornare tempus mauris, ac laoreet erat dictum a. Integer cursus tincidunt dolor eget feugiat. Cras iaculis gravida eros in imperdiet.</p><div class="author-date"> by <a class="h6 post__author-name fn vcard font-weight-bold" href="author/crumina/index.html" >Crumina</a> - <span class="post__date" >
                                                            <time class="entry-date published updated" datetime="2018-07-24T13:35:49+00:00">July 24, 2018</time></span></div><div class="post-additional-info inline-items"><div class="crum-reaction-list inline-items reactions-count-compact-137">



                                                                                     <ul class="crum-reaction-ext friends-harmonic reaction-toggle-parent"data-post="137"data-nonce="ae042d8c76">
                                                                                         <li> <a href="#" data-type="crumina-reaction-amazed"  class="reaction-toggle-icon disabled">
                                                                                                 <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-amazed.png') }}" alt="icon"> </a></li>
                                                                                         <li> <a href="#" data-type="crumina-reaction-anger" class="reaction-toggle-icon disabled">
                                                                                                 <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-anger.png') }}" alt="icon"> </a></li>
                                                                                         <li> <a href="#" data-type="crumina-reaction-bad" class="reaction-toggle-icon disabled">
                                                                                                 <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-bad.png') }}"  alt="icon"> </a></li>
                                                                                         <li> <a href="#" data-type="crumina-reaction-cool" class="reaction-toggle-icon disabled">
                                                                                                 <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-cool.png') }}"  alt="icon"> </a></li>
                                                                                         <li> <a href="#" data-type="crumina-reaction-joy" class="reaction-toggle-icon disabled">
                                                                                                 <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-joy.png') }}"  alt="icon"> </a></li>
                                                                                         <li> <a href="#" data-type="crumina-reaction-like" class="reaction-toggle-icon disabled">
                                                                                                 <img src="{{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-like.png') }}"  alt="icon"> </a></li>
                                                                                         <li> <a href="#" data-type="crumina-reaction-lol" class="reaction-toggle-icon disabled">
                                                                                                 <img src=" {{ asset('assets/wp-content/plugins/unyson/framework/extensions/post-reaction/static/img/crumina-reaction-lol.png') }}" alt="icon"> </a></li></ul>


                                                                                     <div class="names-people-likes"> 47</div></div>
                                                                                 <div class="comments-shared"> <a href="#comments" class="post-add-icon inline-items"> <svg class="olymp-speech-balloon-icon " ><use xlink:href="{{ asset('assets/wp-content/themes/olympus/images/icons.svg#olymp-speech-balloon-icon') }}">  </use></svg> <span>0</span> </a></div></div></div></article></div></div>





                                                         </div></div></div></div></div></div></div></div>








                             <div class="row section-theme-padding vc_custom_1538036387507 inner-relative-wrapper"><div class="container"><div class="row-cols-wrap vc_row wpb_row vc_row-fluid vc_row-has-fill vc_row-o-equal-height vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="wpb_text_column wpb_content_element " ><div class="wpb_wrapper"><h2 class="h1 heading-title"><span style="color: #ffffff;">World Friendship Newsletter</span></h2><p class="heading-text"><span style="color: #ffffff;">Abonnez-vous pour être le premier à connaître les mises à jour, les nouvelles fonctionnalités et bien plus encore!</span></p></div></div>


                                                     <div class="wpb_raw_code wpb_content_element wpb_raw_html" ><div class="wpb_wrapper">
                                                             <script>(function() {
                                                                     if (!window.mc4wp) {
                                                                         window.mc4wp = {
                                                                             listeners: [],
                                                                             forms    : {
                                                                                 on: function (event, callback) {
                                                                                     window.mc4wp.listeners.push({
                                                                                         event   : event,
                                                                                         callback: callback
                                                                                     });
                                                                                 }
                                                                             }
                                                                         }
                                                                     }
                                                                 })();</script>











                                                             <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-342" method="post" data-id="342" data-name="Home subscribe form" ><div class="mc4wp-form-fields"><div class="form-inline subscribe-form"><div class="form-group label-floating is-empty"> <label class="control-label">Entrer votre email</label> <input class="form-control bg-white" placeholder="" type="email"> <span class="material-input"></span></div> <button class="btn btn-blue btn-lg"> Envoyer</button></div></div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1551815129" /><input type="hidden" name="_mc4wp_form_id" value="342" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" /><div class="mc4wp-response"></div></form></div></div></div></div></div>


                                         <div class="wpb_column vc_column_container vc_col-sm-6">
                                             <div class="vc_column-inner">
                                                 <div class="wpb_wrapper">
                                                     <div  class="wpb_single_image wpb_content_element vc_align_right  wpb_animate_when_almost_visible wpb_slideInLeft slideInLeft"><figure class="wpb_wrapper vc_figure">
                                                             <div class="vc_single_image-wrapper   vc_box_border_grey">



                                                                 <img width="300" height="245" src="{{ asset('assets/wp-content/uploads/2018/09/paper-plane-300x245.png') }}" class="vc_single_image-img attachment-medium" alt="" srcset="https://olympus.crumina.net/wp-content/uploads/2018/09/paper-plane-300x245.png 300w, https://olympus.crumina.net/wp-content/uploads/2018/09/paper-plane.png 387w" sizes="(max-width: 300px) 100vw, 300px" /></div></figure></div></div></div></div></div></div></div>














                             <div class="row section-theme-padding vc_custom_1539607491594 inner-relative-wrapper">
                                 <div class="container">
                                     <div class="row-cols-wrap vc_row wpb_row vc_row-fluid vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                                         <div class="wpb_column vc_column_container vc_col-sm-4">
                                             <div class="vc_column-inner">
                                                 <div class="wpb_wrapper">
                                                     <div  class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1539083245251">
                                                         <figure class="wpb_wrapper vc_figure">
                                                             <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                 <img width="297" height="254" src="{{ asset('assets/wp-content/uploads/2018/09/guy.png') }}"  class="vc_single_image-img attachment-full" alt="" /></div></figure></div></div></div></div>

                                         <div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div  class="wpb_single_image wpb_content_element vc_align_right  wpb_animate_when_almost_visible wpb_slideInUp slideInUp"><figure class="wpb_wrapper vc_figure"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="96" height="95" src="{{ asset('assets/wp-content/uploads/2018/09/rocket1.png') }}"  class="vc_single_image-img attachment-thumbnail" alt="" /></div></figure></div></div></div></div>

                                         <div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><section class="vc_cta3-container" ><div class="vc_general vc_cta3 vc_cta3-style-transparent vc_cta3-shape-rounded vc_cta3-align-left vc_cta3-color-classic vc_cta3-icon-size-md vc_cta3-actions-right"><div class="vc_cta3_content-container"><div class="vc_cta3-content"><header class="vc_cta3-content-header"></header></div><div class="vc_cta3-actions"><div class="vc_btn3-container  cta-btn-modal vc_btn3-inline" id="cta-btn-343"> <button class="vc_general vc_btn3 vc_btn3-size-btn-md vc_btn3-shape-rounded vc_btn3-style-modern btn-md vc_btn3-color-juicy-pink"> Faire des matchs maintenant
                                                                         </button></div></div></div></div></section></div></div></div></div></div></div>











                         </div></article></main></div></div></div>







 {% endblock %}





